<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dev-arindam-roy/vue2-route3/
    RewriteRule ^dev-arindam-roy/vue2-route3/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /dev-arindam-roy/vue2-route3/index.html [L]
</IfModule>
