<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vue2-route3
    RewriteRule ^vue2-route3/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /vue2-route3/index.html [L]
</IfModule>
